---
import Layout from '../layouts/Layout.astro';
import SocialLinks from '../components/SocialLinks.astro';
import LinkedInIcon from "../components/icons/LinkedIn.astro"
import GithubIcon from "../components/icons/Github.astro"
import MailIcon from "../components/icons/Mail.astro"
import Experience from '../components/Experience.astro';
import Technologies from '../components/Technologies.astro';
import AboutMe from '../components/AboutMe.astro';
import Project from '../components/Projects.astro'
import FileIcon from '../components/icons/FileIcon.astro'
import AppBar from '../components/Appbar.jsx'
import { PersonIcon, BriefcaseIcon, ReaderIcon, LibraryIcon, CourseIcon } from '../components/icons/Icons.jsx';
import Courses from '../components/Courses.astro';
---

<Layout title="Portfolio of martingarcia99">
	<main>
        <AppBar client:load/>
        <section id='main-section' class="h-screen flex flex-col justify-center bg-[url('/main_background.jpg')]">
            <article>
                <h1 class="flex flex-row items-center">
                    <p class="text-3xl md:text-5xl">Welcome to my Portfolio</p>
                    <img 
                        src='/martin_image.jpg'
                        class="rounded-full w-20 h-30 ml-5"
                        alt="martingarcia99"   
                    />
                </h1>
                <h2
                    class="text-xl lg:text-2xl text-balance max-w-[750px] text-white"
                >
                    <span>+4 years of experience</span>. <span
                    class="text-yellow-200"
                    >FullStack developer</span>.
                    <span class="text-sky-200">App and web developer</span>.
                    <span class="text-red-200">
                    Granada - Barcelona</span>.
                    
                </h2>
                <nav class="flex flex-wrap mt-8 gap-4">
                    <SocialLinks href="https://www.linkedin.com/in/mart%C3%ADn-jos%C3%A9-garc%C3%ADa-mu%C3%B1oz-328757193/">
                        <LinkedInIcon class="size-4 md:size-6" />
                        LinkedIn
                    </SocialLinks>
                    <SocialLinks href="https://github.com/martingarcia99">
                        <GithubIcon class="size-4 md:size-6" />
                        Github
                    </SocialLinks>
                    <SocialLinks href="mailto:martinillora@gmail.com">
                        <MailIcon class="size-4 md:size-6" />
                        martinillora@gmail.com
                    </SocialLinks>
                    <SocialLinks href="/cv-Martin-Garcia-Munoz.pdf">
                        <FileIcon class="size-4 md:size-6" />
                        CV
                    </SocialLinks>
                </nav>
            </article>
        </section>
        <section id='aboutme-section' class="pb-32 h-screen flex justify-center bg-slate-300">
            <article>
                <h2
                    class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 "
                >
                    <PersonIcon />
                    About me
                </h2>
                <AboutMe />
            </article>
        </section>
        <section id='work-section' class="pb-32 md:h-auto flex justify-center">
            <article>
                <h2
                    class="text-3xl md:mt-48 mt-14 font-semibold mb-6 flex gap-x-3 items-center text-white/80"
                >
                    <BriefcaseIcon />
                    Work experience
                </h2>
                <Experience />
            </article>
        </section>
        <section id='tech-section' class="pb-32 md:h-auto flex justify-center bg-teal-600">
            <article>
                <h2
                    class="text-3xl md:mt-48 mt-14 font-semibold mb-6 flex gap-x-3 items-center text-white/80"
                >
                    <LibraryIcon />
                    Technologies
                </h2>
                <Technologies />
            </article>
        </section>
        <section id='courses-section' class="pb-32 md:h-auto flex justify-center bg-white">
            <div class="flex flex-col items-center">
                <h2
                    class="text-3xl md:mt-32 mt-14 font-semibold mb-6 flex gap-x-3 items-center md:w-[800px] text-black/80"
                >
                    <CourseIcon />
                    Courses / Certificates
                </h2>
                <Courses />
            </div>
        </section>
        <section id='projects-section' class="pb-32 md:h-auto flex justify-center">
            <div class="flex flex-col items-center">
                <h2
                    class="text-3xl md:mt-32 mt-14 font-semibold mb-6 flex gap-x-3 items-center md:w-[800px] text-white/80"
                >
                    <ReaderIcon />
                    Projects
                </h2>
                <Project />
            </div>
        </section>
	</main>
    <footer>
        <div class="flex md:flex-row flex-col justify-between pb-16 md:items-center md:mt-0 mt-32">
            <p class="text-base">© 2024 Martin Garcia. Almost all rights reserved</p>
            <div class="flex flex-row gap-5 mt-5 md:mt-0">
                <a href="https://www.linkedin.com/in/mart%C3%ADn-jos%C3%A9-garc%C3%ADa-mu%C3%B1oz-328757193/">
                    <LinkedInIcon class="size-4 md:size-6" />
                </a>
                <a href="https://github.com/martingarcia99">
                    <GithubIcon class="size-4 md:size-6" />
                </a>
                <a href="mailto:martinillora@gmail.com">
                    <MailIcon class="size-4 md:size-6" />
                </a>
            </div>
        </div>
    </footer>
</Layout>

<style>
	article, footer {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		text-align: left;
		margin-bottom: 1em;
	}
</style>
