<div class="text-base text-black/80">
    <p>My name is <b>Martín García</b>, and I am a dedicated Computer Engineer with a strong commitment to delivering efficient solutions to complex challenges in a timely manner. I am recognized for my <b>friendly, social, and hardworking nature</b>, which helps me thrive in collaborative team environments. Continuously driven by self-improvement, I stay up-to-date with the latest technologies and excel at simplifying complex problems.</p></br>
    <p>In my free time, I am passionate about learning new and updated technologies to improve my skills as a FullStack Developer.</p>
</div>