<div class="flex md:flex-row flex-col justify-evenly w-screen items-center md:p-16">
    <div class="grid md:grid-cols-2 grid-cols-1 gap-5 order-2 md:order-none">
        <a class="text-black p-7 rounded-md flex flex-col gap-3 transition-all duration-300 border-2 shadow-lg w-[350px]" href="https://www.udemy.com/certificate/UC-5b4457dc-075f-447b-a2cd-7a9f47e569bf/">
            <img src="/certificado-nextjs.jpg" alt="nextjs certificate Udemy" class="rounded-md" />
            <div class="flex flex-row items-center gap-3">
                <i class='devicon-react-original text-2xl'></i>
                <i class="devicon-tailwindcss-plain text-2xl"></i>
                <i class="devicon-typescript-plain text-2xl"></i>
                <i class="devicon-prisma-original colored text-2xl"></i>
                <i class="devicon-nextjs-plain text-2xl"></i>
            </div>
        </a>
        <a class="text-black p-7 rounded-md flex flex-col gap-3 transition-all duration-300 border-2 shadow-lg w-[350px]" href="https://www.udemy.com/certificate/UC-d9651361-9657-4048-b846-c2e11a932010/">
            <img src="/certificado-react-udemy.jpg" alt="react certificate Udemy" class="rounded-md" />
            <div class="flex flex-row items-center gap-3">
                <i class="devicon-react-original text-2xl"></i>
                <i class="devicon-tailwindcss-plain text-2xl"></i>
                <i class="devicon-typescript-plain text-2xl"></i>
            </div>
        </a>
    </div>
    <div class="p-10 order-1 md:order-none">
        <img src="/logo-udemy.svg" class="md:w-[300px] w-[150px] py-10"/>
    </div>
</div>
<div class="flex md:flex-row flex-col justify-evenly w-screen items-center md:p-16">
    <div class="p-10 order-1 md:order-none">
        <img src="/HackerRank.png" width='550px'/>
    </div>
    <div class="grid md:grid-cols-2 grid-cols-1 gap-5 order-2 md:order-none">
        <a class="text-black p-7 rounded-md flex flex-col gap-3 transition-all duration-300 border-2 shadow-lg w-[350px]" href="https://www.hackerrank.com/certificates/b1a41367b99d">
            <img src="/certificate-javascript.png" alt="javascript certificate HackerRank" class="rounded-md" />
            <div class="flex flex-row items-center gap-3">
                <i class='devicon-javascript-plain text-2xl'></i>
            </div>
        </a>
        <a class="text-black p-7 rounded-md flex flex-col gap-3 transition-all duration-300 border-2 shadow-lg w-[350px]" href="https://www.hackerrank.com/certificates/iframe/2298f9b72fda">
            <img src="/certificate-react-hackerrank.png" alt="react certificate HackerRank" class="rounded-md" />
            <div class="flex flex-row items-center gap-3">
                <i class="devicon-react-original text-2xl"></i>
                <i class="devicon-tailwindcss-plain text-2xl"></i>
                <i class="devicon-typescript-plain text-2xl"></i>
            </div>
        </a>
    </div>
</div>
<div class="flex md:flex-row flex-col justify-evenly w-screen items-center md:p-16">
    <div class="grid md:grid-cols-2 grid-cols-1 gap-5 order-2 md:order-none">
        <a class="text-black p-7 rounded-md flex flex-col gap-3 transition-all duration-300 border-2 shadow-lg w-[350px]" href="https://www.linkedin.com/learning/certificates/aae88e69caadd4ef40483df732f3bf94d713c97455edf69958c921c9ef31f8ba">
            <img src="/certificate-react-linkedin.png" alt="reactjs certifciate LinkedIn Learning" class="rounded-md" />
            <div class="flex flex-row items-center gap-3">
                <i class='devicon-react-original text-2xl'></i>
            </div>
        </a>
        <a class="text-black p-7 rounded-md flex flex-col gap-3 transition-all duration-300 border-2 shadow-lg w-[350px]" href="https://www.linkedin.com/learning/certificates/f6affac707b74f30ea485a7835e64da8248cfc7745dd99a78d051eb41fac12f0?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3Bz0HBBQbhR8%2BixIGGlE%2BP4Q%3D%3D">
            <img src="/certificate-next-linkedin.jpeg" alt="nextjs certifciate LinkedIn Learning" class="rounded-md" />
            <div class="flex flex-row items-center gap-3">
                <i class='devicon-react-original text-2xl'></i>
                <i class="devicon-tailwindcss-plain text-2xl"></i>
                <i class="devicon-typescript-plain text-2xl"></i>
                <i class="devicon-nextjs-plain text-2xl"></i>
            </div>
        </a>
    </div>
    <div class="p-10 order-1 md:order-none">
        <img src="/linkedin-linkedin-learning.webp" width='300px'/>
    </div>
</div>