---
interface Props {
    title: string,
    date: string
}

const { date, title } = Astro.props
---

<div
  class="absolute w-3 h-3 rounded-full mt-3 -start-1.5 border border-gray-900 bg-white"
>
</div>
<time class=`mb-1 text-sm font-normal leading-none text-sky-800 dark:text-sky-200/80`>{date}</time>
<h3 class="text-lg font-semibold text-yellow-800 dark:text-yellow-200 mt-2">
    {title}
</h3>
<p class="mb-4 text-base font-normal  dark:text-gray-200 text-pretty">
    I am working as a web developer specialized in front-end in the
    different products that the company offers. These products are 
    B2C, B2B, SGA, HR Website, Marketing Website.
    The technologies I use on the Front-end are 
    <span class="text-red-800 dark:text-red-400">HTML, CSS, Boostrap, Javascript, Jquery, ASP VB .NET, Razor, 
    SCSS</span>.
    For the Back-end I use the technologies 
    <span class="text-red-800 dark:text-red-400">Visual basic VB, SQL Server, C#</span>.
    We host the publications from each of the client websites in filezilla
    when they are in production. We previously developed them in a
    production cloud offered by the company itself.
</p>