<ol class="relative border-s border-gray-200 ml-3">
  <li class="mb-10 ms-7">
    <img
      src="/bondy-logo.jpg"
      class="absolute w-10 h-10 rounded-full -start-5 border border-gray-900"
      alt="The Bondy App"
    />
    <time class=`mb-1 text-sm font-normal leading-none text-sky-200/80`
      >November 2024 - Present</time
    >
    <h2 class="mt-2">The Bondy App</h2>
    <h3 class="text-lg font-semibold text-yellow-200 mt-2">
      Full-Stack Developer
    </h3>
    <ol
      class="mb-4 mt-4 gap-3 text-base font-normal dark:text-gray-200 text-pretty list-disc ml-5"
    >
      <li>
        Developed new application features across frontend and backend,
        including carousels, calendars, tabs, and advanced animations to enhance
        user experience.
      </li>
      <li>
        Backend implemented with <b
          >NodeJS, NestJS, Typescript and Hexagonal Architecture.</b>
      </li>
      <li>
        Managed and optimized data with MySQL and Prisma, ensuring query <b
          >efficiency</b
        > and <b>scalability</b>.
      </li>
      <li>
        Improved the authentication system by integrating <b>Apple</b>, <b
          >Google</b
        >, and <b>phone</b> login using JWT and OAuth.
      </li>
      <li>
        Designed and implemented endpoints under a <b
          >Backend for Frontend (BFF)</b
        > architecture to streamline client-server communication.
      </li>
      <li>
        Using <b>Temporal</b> to manage <b>workflows</b> and <b>schedules</b> for
        launching events, notifications, jobs, etc.
      </li>
      <li>
        Built <b>GitHub Actions</b> workflows to automate deployment, build, and testing
        processes, increasing team productivity.
      </li>
      <li>
        Integrated payment solutions with <b>Stripe</b> and enhanced backend error
        handling and logging systems.
      </li>
      <li>
        Leveraged <b>Google Cloud Platform</b> (Translate, Maps, app deployment, log
        management, and environment configuration) and migrated services to <b
          >AWS</b
        > to improve performance and reduce costs.
      </li>
      <li>
        Implemented dashboards with <b>Appsmith</b> for data management and internal
        monitoring.
      </li>
      <li>
        Generated builds with <b>Codemagic</b> and published the app to the App Store
        and Google Play Store.
      </li>
    </ol>
  </li>
  <li class="mb-10 ms-7">
    <img
      src="/senniors-logo.jpeg"
      class="absolute w-10 h-10 rounded-full -start-5 border border-gray-900"
      alt="Senniors"
    />
    <time class=`mb-1 text-sm font-normal leading-none text-sky-200/80`
      >March 2024 - September 2024</time
    >
    <h2 class="mt-2">Senniors</h2>
    <h3 class="text-lg font-semibold text-yellow-200 mt-2">
      Full-Stack Developer
    </h3>
    <ol
      class="mb-4 mt-4 gap-3 text-base font-normal dark:text-gray-200 text-pretty list-disc ml-5"
    >
      <li>
        Responsible for design, implementation, and development of a <b
          >mobile application</b
        >. My work involves both frontend and backend development, utilizing a
        wide range of modern technologies and tools to deliver a high-quality
        product.
      </li>
    </ol>
    <li>
      For the frontend, I use <b>Flutter</b> and for the backend, <b
        >Node.js, Nest.js, Express.js, TypeScript and PostgreSQL.</b>
    </li>
    <li>
      Use of Figma platform to interpret the web designer's layouts and begin
      building the website's interface based on them. Responsible for writing
      the code and establishing seamless connections with the backend to ensure
      smooth integration between both environments.
    </li>
  </li>
  <li>
    Developed the company's official blog using <b>Webflow</b> and <b
      >Unbounce</b
    >.
  </li>
</ol>

<li class="mb-10 ms-7">
  <img
    src="/natureh-logo.jpeg"
    class="absolute w-10 h-10 rounded-full -start-5 border border-gray-900"
    alt="Natureh"
  />
  <time class=`mb-1 text-sm font-normal leading-none text-sky-200/80`
    >April 2022 - March 2024</time
  >
  <h2 class="mt-2">Natureh</h2>
  <h3 class="text-lg font-semibold text-yellow-200 mt-2">
    Full-Stack Developer
  </h3>
  <ol
    class="mb-4 mt-4 gap-3 text-base font-normal dark:text-gray-200 text-pretty list-disc ml-5"
  >
    <li>
      I was responsible for the creation, deployment, and maintenance of <b
        >B2B and B2C portals</b
      >, ensuring alignment with client requirements. This included managing
      development timelines, organizing new feature releases, and coordinating
      effectively to meet project milestones.
    </li>
  </ol>
  <li>
    Oversaw <b>Google Analytics campaigns</b>, tracked user interactions through
    event-based monitoring, and optimized <b>SEO strategies</b> for improved website
    visibility and ranking
  </li>
</li>
<li>
  As a web designer, I wrote code using <b
    >ReactJS, HTML, CSS, Tailwindcss, JavaScript.</b
  >
  For Back-End development, I employed <b
    >NodeJS, ExpressJS, Javascript and SQL Server.</b>
</li>

<li class="mb-10 ms-7">
  <img
    src="/aqua-logo.jpeg"
    class="absolute w-10 h-10 rounded-full -start-5 border border-gray-900"
    alt="Aqua eSolutions"
  />
  <time class=`mb-1 text-sm font-normal leading-none text-sky-200/80`
    >October 2021 - April 2022</time
  >
  <h2 class="mt-2">Aqua eSolutions</h2>
  <h3 class="text-lg font-semibold text-yellow-200 mt-2">Software Developer</h3>
  <ol
    class="mb-4 mt-4 gap-3 text-base font-normal dark:text-gray-200 text-pretty list-disc ml-5"
  >
    <li>
      Developed and maintained a proprietary software framework leveraging SQL
      queries, optimizing database management, and ensuring seamless
      communication across front-end, back-end, and various application modules.
    </li>
  </ol>
  <li>
    Contributed to ERP, CRM, and SGA projects, enhancing system integration and
    functionality. Utilized key development tools including <b></b>.NET, C#,
    NodeJS, Javascript and SQL Server.
  </li>
</li>
