<div class="grid md:grid-cols-3 grid-cols-1 md:gap-5 gap-8 md:px-48 px-8 mt-10">
    <a class="p-7 rounded-md flex flex-col gap-3 transition-all md:bg-black bg-white md:text-white text-black duration-300 hover:bg-white hover:text-black hover:scale-105" href="https://github.com/martingarcia99/movie-rest-backend/">
        <img src="/swagger_docs.png" alt="swagger-docs" class="rounded-md border-2" />
        <h2 class="font-bold">Movie REST Backend</h2>
        <p class="text-sm">REST API in Node.js + TypeScript with hexagonal architecture. It consumes data from The Movie Database (TMDB) and exposes normalized endpoints with Express, documented with Swagger and executable using Docker and Make.</p>
        <div class="flex flex-row items-center gap-3">
            <i class="devicon-nodejs-plain text-2xl"></i>
            <i class="devicon-express-original text-2xl"></i>
            <i class="devicon-typescript-plain text-2xl"></i>
            <i class="devicon-docker-plain text-2xl"></i>
            <i class="devicon-swagger-plain text-2xl"></i>
            <i class="devicon-eslint-plain text-2xl"></i>
            <i class="devicon-jest-plain text-2xl"></i>
        </div>
    </a>
    <a class="p-7 rounded-md flex flex-col gap-3 transition-all md:bg-black bg-white md:text-white text-black duration-300 hover:bg-white hover:text-black hover:scale-105" href="https://films-app-six.vercel.app/">
        <img src="/films-app.png" alt="films-app" class="rounded-md border-2" />
        <h2 class="font-bold">Films app</h2>
        <p class="text-sm">This project is about a website where you can find all types of movies and see their details in addition to the functionality of searching and filtering by genre. Application made with Nextjs, Reactjs, Typescript, Tailwindcss and the data is obtained from the TMDb movie api.</p>
        <div class="flex flex-row items-center gap-3">
            <i class="devicon-nextjs-plain text-2xl"></i>
            <i class="devicon-react-original text-2xl"></i>
            <i class="devicon-tailwindcss-plain text-2xl"></i>
            <i class="devicon-typescript-plain text-2xl"></i>
        </div>
    </a>
    <a class="p-7 rounded-md flex flex-col gap-3 transition-all md:bg-black bg-white md:text-white text-black duration-300 hover:bg-white hover:text-black hover:scale-105" href="https://pokedex-drab-pi.vercel.app/">
        <img src="/pokedex.png" alt="pokedex" class="rounded-md border-2" />
        <h2 class="font-bold">Pokedex</h2>
        <p class="text-sm">The Pokedex is a project that displays all Pokémon and their characteristics. This project is built using React, TailwindCSS, and Webpack, with external API calls to retrieve detailed Pokémon information.</p>
        <div class="flex flex-row items-center gap-3">
            <i class='devicon-react-original text-2xl'></i>
            <i class="devicon-tailwindcss-plain text-2xl"></i>
            <i class="devicon-typescript-plain text-2xl"></i>
        </div>
    </a>
    <a class="p-7 rounded-md flex flex-col gap-3 transition-all md:bg-black bg-white md:text-white text-black duration-300 hover:bg-white hover:text-black hover:scale-105" href="https://top-cars-gamma.vercel.app/">
        <img src="/top_cars_3d.png" alt="top-cars-3d" class="rounded-md border-2" />
        <h2 class="font-bold">Top Cars 3D</h2>
        <p class="text-sm">This small project focuses on creating a 3D car showcase using React.js and the React Three Fiber library. It demonstrates the handling and rendering of 3D objects in a web environment, allowing for interactive visualization and manipulation of car models. The project aims to explore the capabilities of React Three Fiber in managing 3D scenes and objects, providing a dynamic and immersive user experience.</p>
        <div class="flex flex-row items-center gap-3">
            <i class="devicon-react-original text-2xl"></i>
            <i class="devicon-tailwindcss-plain text-2xl"></i>
            <i class="devicon-typescript-plain text-2xl"></i>
        </div>
    </a>
    <a class="p-7 rounded-md flex flex-col gap-3 transition-all md:bg-black bg-white md:text-white text-black duration-300 hover:bg-white hover:text-black hover:scale-105" href="https://horoscope-app-steel.vercel.app/">
        <img src="/horoscope.png" alt="horoscope" class="rounded-md border-2" />
        <h2 class="font-bold">Horoscope</h2>
        <p class="text-sm">This is a small React project about horoscopes. It uses tailwindcss, React, and the ChatGPT Api.</p>
        <div class="flex flex-row items-center gap-3">
            <i class="devicon-react-original text-2xl"></i>
            <i class="devicon-tailwindcss-plain text-2xl"></i>
            <i class="devicon-typescript-plain text-2xl"></i>
        </div>
    </a>
</div>