---
import Icons from '../constants/icons.js';
---

<div class="grid md:grid-cols-2 grid-cols-1 gap-5">
    <a class="p-7 rounded-md flex flex-col gap-3 transition-all duration-300 hover:bg-white hover:text-black hover:scale-105" href="https://pokedex-drab-pi.vercel.app/">
        <img src="../../public/pokedex.png" alt="pokedex" class="rounded-md" />
        <h2 class="font-bold">Pokedex</h2>
        <p class="text-sm">The Pokedex is a project that displays all Pokémon and their characteristics. This project is built using React, TailwindCSS, and Webpack, with external API calls to retrieve detailed Pokémon information.</p>
        <div class="flex flex-row items-center gap-3">
            <i class='devicon-react-original text-2xl'></i>
            <i class="devicon-tailwindcss-plain text-2xl"></i>
            <i class="devicon-typescript-plain text-2xl"></i>
        </div>
    </a>
    <a class="p-7 rounded-md flex flex-col gap-3 transition-all duration-300 hover:bg-white hover:text-black hover:scale-105" href="https://horoscope-app-steel.vercel.app/">
        <img src="../../public/horoscope.png" alt="horoscope" class="rounded-md" />
        <h2 class="font-bold">Horoscope</h2>
        <p class="text-sm">This is a small React project about horoscopes. It uses tailwindcss, React, and the ChatGPT Api.</p>
        <div class="flex flex-row items-center gap-3">
            <i class="devicon-react-original text-2xl"></i>
            <i class="devicon-tailwindcss-plain text-2xl"></i>
            <i class="devicon-typescript-plain text-2xl"></i>
        </div>
    </a>
</div>